body {
    background-image: url(img/wood.jpg);
    background-position: centre;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
      }
h1{
    font-family: 'Allura', cursive;
    font-size: 5em;
    text-shadow: 4px 4px 4px rgba(247, 138, 138, 0.863);
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 0.1%;
  }
img{
    border: 10px solid rgba(150, 126, 135, 0.658);
    border-radius: 10px;
    width: 30%;
    margin-left: 10%;
    margin-top: 1%;
    }

